In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Student-University.csv", header = None)
df.head()

           0          1  2
0  34.623660  78.024693  0
1  30.286711  43.894998  0
2  35.847409  72.902198  0
3  60.182599  86.308552  1
4  79.032736  75.344376  1

In [4]:
X = df.iloc[:,0:2]
Y = list(df[2])

In [5]:
for i in range(len(X)):
    X[0] =  ( X[0] - X[0].min() ) / ( X[0].max() - X[0].min() ) 
    X[1] =  ( X[1] - X[1].min() ) / ( X[1].max() - X[1].min() )

In [6]:
X.head()

          0         1
0  0.065428  0.694655
1  0.003266  0.194705
2  0.082968  0.619618
3  0.431764  0.816001
4  0.701943  0.655392

In [7]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, train_size = 0.8)

In [8]:
x1_train = list(x_train[0])
x1_test = list(x_test[0])
x2_train = list(x_train[1])
x2_test = list(x_test[1])

In [9]:
l_rate = 0.3
e = 2.71828
b0 = 1
b1 = 0.5
b2 = 0.5
n = len(x1_train)
n_test = len(x1_test)
b = [b0, b1, b2]

In [10]:
def grad_desc(b):
    P = []
    X = []
    a = 0
    
    for i in range(n):
        X.append(b[0] + (b[1] * x1_train[i]) + (b[2] * x2_train[i]))
                 
    for i in range(n):
        P.append( 1 / ( 1 + ( e ** ( -1 * X[i] ) ) ) )
                 
    for j in range(3):
                 for i in range(n):
                     a = l_rate * (y_train[i] - P[i]) * (P[i]) * (1 - P[i])
                     if(j == 1):
                        a *= x1_train[i]
                     if(j == 2):
                        a *= x2_train[i]
                     b[j] += a 
        #print(b[j])
    return b

In [11]:
for i in range(100):
    b = grad_desc(b)

In [12]:
x = []
p = []

for i in range(n_test):
    x.append(b[0] + (b[1] * x1_test[i]) + (b[2] * x2_test[i]))
    
for i in range(n_test):
    p.append( 1 / ( 1 + ( e ** ( -1 * x[i] ) ) ) )
    
df1 = pd.DataFrame(list(zip(x, p)), columns =['X', 'P'])
df1.head()

          X         P
0 -0.965228  0.275833
1 -0.734549  0.324197
2 -2.220376  0.097936
3 -1.630369  0.163780
4 -0.880831  0.293006

In [13]:
pred = []
for i in range(n_test):
    if (df1.P[i] > 0.5):
        pred.append(1)
    else:
        pred.append(0)

df1['Class'] = pred
df1['Y'] = y_test
df1.head()

          X         P  Class  Y
0 -0.965228  0.275833      0  0
1 -0.734549  0.324197      0  0
2 -2.220376  0.097936      0  0
3 -1.630369  0.163780      0  0
4 -0.880831  0.293006      0  0

In [14]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

[[ 8  1]
 [ 0 11]]
              precision    recall  f1-score   support

           0       1.00      0.89      0.94         9
           1       0.92      1.00      0.96        11

    accuracy                           0.95        20
   macro avg       0.96      0.94      0.95        20
weighted avg       0.95      0.95      0.95        20